<section class="akkordeon-section">
  <div class="container">
    <ul class="akkordeon__list">
      <li class="akkordeon akkordeon-1">
        <button class="akkordeon__control btn-reset" aria-expanded="false">
          <span class="akkordeon__title">Akkordeon 1</span>
          <span class="akkordeon__icon"></span>
        </button>
        <div class="akkordeon__content" aria-hidden="true">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam
          nihil, modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
        </div>
      </li>
      <li class="akkordeon akkordeon-2">
        <button class="akkordeon__control btn-reset" aria-expanded="false">
          <span class="akkordeon__title">Akkordeon 2</span>
          <span class="akkordeon__icon"></span>
        </button>
        <div class="akkordeon__content" aria-hidden="true">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore accusamus ullam iure et magnam
          nihil, modi eos nisi odit animi optio obcaecati sit numquam repellendus quisquam aliquid alias aut?
        </div>
      </li>
    </ul>
  </div>
</section>
